@import "base/base";
@import "abstracts/variables";
@import "abstracts/mixins";
@import "layout/grid";
@import "components/card";
@import "base/typography";
@import "components/card";
@import "components/button";





.header {
  position: relative;
  height: 90vh;
  background-size: cover;
  background-position: center;

}

.wrapper {
  position: relative;
  height: 46.8rem;
  background: $color-grey;
  width: 96.4rem;
  margin: 0 auto;
  top: 3.5rem;

  &__logo-box {
    position: absolute;
    left: 0;
    right: 0;
    top: -8%;
    margin-left: auto;
    margin-right: auto;
  }

  &__text-box {
    position: absolute;
    top: 8rem;
    left: -12.5rem;
  }

  &__logo {
    height: 68.59px;
    width: 68.76px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .heading-primary {
    color: #262626;
    border:2px solid $color-orange;
    height: 42rem;
    width: 107.8rem;
    padding: 4rem;

    &--main {
      display: block;
      font-size: 8rem;
      width: 68rem;
      height: 17.4rem;
      line-height: 1.0;
    }

    &--sub {
      display: block;
      font-size: 32px;
      font-weight: 400;
      width: 77rem;
      height: 11.4rem;
    }

  }


  &__mock {
    position: absolute;
    right: -12rem;
    top: -7rem;
    width: 45rem;
  }

}


.section-services {
  padding: 20rem 0;


}


.line:after {
  content: '';
  position: absolute;
  border-right: 2px $color-orange solid;
  height: 33rem;
  transform: translateY(46%);
}

.service-box {

  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  transition: transform .3s;
  height: 46rem;
  width: 38rem;



  &__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    background-image: linear-gradient(to right, $color-white, $color-white);
    -webkit-background-clip: text;
    color: transparent;
    width: 20rem;
    height: 16.7rem;
  }



  &__details {



    ul {

      list-style: none;
      margin: 0 auto;

      li {
        font-size: 1.6rem;
        padding: 1rem;
        text-align: left;
        margin-left: 4rem;


      }
    }

  }

}

.heading-tertiary{
  font-weight: 700;
  font-size: 3.2rem;
  color: $color-orange;
}



.heading-secondary {
  font-size: 5.6rem;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, $color-black, $color-black);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
}

.dev-icon {
  width:100px;
  height:20px;
  text-decoration:none;
  padding-left:20px;
}
.dev-icon:before{
  content: '';
  background:url('../img/Image3.png');
  background-size:cover;
  position:absolute;
  width:20rem;
  height:13.9rem;
  margin-left:-20px;
}

.section-hire{
  background-color: $color-white;
  padding: 25rem;
  margin-top: -20vh;
}


.footer {
  background-color: $color-white;
  font-size: 1.4rem;
  color: $color-black;

  text-align: center;

  &__link {
    &:link,
    &:visited {
      color: $color-black;
      background-color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
    }

    &:hover,
    &:active {
      color: $color-black;
    }
  }

  &__copyright {
    padding-top: 2rem;
  text-align: center;

  }
}


@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
